---
layout: default
---

<div class="home">
  <div class="about-col about-col-1">
    <img class="user-picture" src="/assets/img/aditya_paul_head.jpg" alt="{{ site.author }}">
    <div class="author-description">
      {% include author.html %}
    </div>
    <ul class="contact-list">
      {% if site.email %}
      <li>
        {% include _icons/email.html username=site.email %}
      </li>
      {% endif %}

      {% if site.curriculum.url %}
      <li>
        {% include _icons/file.html curriculum=site.curriculum %}
      </li>
      {% endif %}
    </ul>
    {% include contactlist.html %}
    <ul class="contact-list">
      {% if site.author_website %}
      <li>
        {% include _icons/website.html url=site.author_website %}
      </li>
      {% endif %}
    </ul>
  </div>

  <article class="bio" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="biotext", itemprop="articleBody">
      {{ content }}
    </div>
  </article>
</div>
